* {
    padding: 0;
    margin: 0;
    /* box-sizing includes the padding and border when calculating width */
    box-sizing: border-box;
}


span {
    font-weight: bold;
}

.title {
    background-color: #B3B3B3;
}

.body {
    background-color: #CCCCCC;
}

.footer {
    background-color: #FFFF9A;
}

.col {
    /*  set the universal styling for all columns, regardless of screen size */
    display: inline-block;
    padding: 10px;
}

.row {
    /* set any stylings you would like for each row, regardless of screen size */
    margin: 10px;
    border: 1px solid grey;
}

@media only screen and (max-width:480px) {
    .sm-4 {
        font-size: 1.5em;
        width: 100%;
    }

    .sm-0 {
        display: none;
    }
}

@media only screen and (min-width: 481px) {
    .med-2 {
        font-size: 2.0em;
        width: 100%;
    }

    .med-0 {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .lg-1 {
        width: 100%;
        font-size: 3.0em;
        display: inline-block;
    }

    .lg-0 {
        display: none;
    }

}